<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.pool_size">1</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="hbm2ddl.import_files">/initial-data.sql</property>
		<property name="show_sql">true</property>
		<property name="show_format">true</property>
		<mapping class="pm.eight.domain.Comic"></mapping>
		<mapping class="pm.eight.domain.Author"></mapping>
		<mapping class="pm.eight.domain.AuthorComic"></mapping>
		<mapping class="pm.eight.domain.AuthorComicID"></mapping>
		<mapping class="pm.eight.domain.Episode"></mapping>
		<mapping class="pm.eight.domain.Image"></mapping>

	</session-factory>
</hibernate-configuration>
